@media (max-width:991px ) {
   .about_img{
    padding-top:15rem  ;
   }
   #services .service-item-wrap {
      text-align: center;
  }
  
  #services .service-menu-area ul {
      padding: 0;
      list-style: none;
  }
  
  #services .service-menu-area ul li {
      display: inline-block;
      width: 100%;
      text-align: center;
  }
  .navbar-collapse {
   background-color: rgba(255, 255, 255, 0.5); 
   text-align: center;
}
.room_wrapper .room_content{
  
  padding-left: 5rem;
  padding-right: 5rem;
}


 
}
@media (max-width:560px) {
   .swiper-wrapper .slider-caption h1{
     font-size: 2rem ;
   }
}
/* responsive.css */
@media (min-width: 768px) and (max-width: 991px) {
  .card-title {
    font-size: 1.25rem; /* Adjust as needed */
    white-space: normal; /* Ensure the title wraps */
  }
  .card-text {
    font-size: 1rem; /* Adjust as needed */
    white-space: normal; /* Ensure the text wraps */
  }
}
